body {
  background-color: #E9e9e9;
  font-family: 'Open Sans', sans-serif;
  color: #696969;
}
body .howToContainer {
  margin: 15% 0% 15% 0%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
body .howToContainer .howToFlex {
  display: flex;
  margin: 0% 7% 0% 7%;
  flex-flow: row nowrap;
  padding: 5%;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex {
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-left: 2.5%;
  }
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex {
    flex-flow: column nowrap;
    width: 100%;
  }
}
body .howToContainer .howToFlex .leftColumn {
  display: flex;
  flex-flow: column nowrap;
  width: 35%;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex .leftColumn {
    width: 85%;
  }
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .leftColumn {
    width: 100%;
    margin: 0 auto;
    width: 75%;
  }
}
body .howToContainer .howToFlex .leftColumn img {
  margin-top: 5%;
  width: 75%;
  border-radius: 25px;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex .leftColumn img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .leftColumn img {
    width: 75%;
  }
}
body .howToContainer .howToFlex .leftColumn button {
  margin-top: 10%;
  margin-bottom: 7%;
  width: 75%;
  font-size: 1.5rem;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: #0090c5;
  padding: 2.5%;
  border: none;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex .leftColumn button {
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .leftColumn button {
    margin-left: 0%;
  }
}
body .howToContainer .howToFlex .leftColumn .centerText {
  text-align: center;
  margin-right: 25%;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex .leftColumn .centerText {
    display: none;
    margin-right: 0%;
  }
}
body .howToContainer .howToFlex .leftColumn .centerText .howToPictures {
  display: flex;
  flex-flow: row wrap;
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .leftColumn .centerText .howToPictures {
    display: none;
  }
}
body .howToContainer .howToFlex .leftColumn .centerText .howToPictures a {
  width: 49%;
}
body .howToContainer .howToFlex .leftColumn .centerText .howToPictures a img {
  width: 90%;
  height: 125px;
}
body .howToContainer .howToFlex .leftColumn .centerText h2 {
  color: #444;
  margin-top: 2%;
  margin-bottom: 7.5%;
}
body .howToContainer .howToFlex .leftColumn .centerText a {
  color: #0090c5;
  text-decoration: underline;
  line-height: 2rem;
  font-size: 1rem;
}
body .howToContainer .howToFlex .rightColumn {
  display: flex;
  flex-flow: column nowrap;
  width: 60%;
}
@media screen and (max-width: 800px) {
  body .howToContainer .howToFlex .rightColumn {
    margin-left: 10%;
  }
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .rightColumn {
    margin-left: 10%;
  }
}
body .howToContainer .howToFlex .rightColumn h1 {
  color: #444;
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .rightColumn h1 {
    text-align: center;
  }
}
body .howToContainer .howToFlex .rightColumn p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 3% 0 0% 0%;
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .rightColumn p {
    font-size: 1rem;
  }
}
body .howToContainer .howToFlex .rightColumn p .boldFont {
  font-weight: bold;
}
body .howToContainer .howToFlex .rightColumn h2 {
  color: #444;
  margin: 4% 0% 2% 0%;
}
@media screen and (max-width: 600px) {
  body .howToContainer .howToFlex .rightColumn h2 {
    text-align: center;
  }
}
