html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  color: #696969;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Source Sans Pro', Arial;
  color: #444;
  font-weight: 800;
}
h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 2.25;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
br {
  line-height: 2.25;
}
.nav-bar {
  background: #e9e9e9;
  height: 15em;
  border-bottom: 0.3em solid #e0dbdb;
}
.nav-bar .nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 50px;
}
.nav-bar .nav-container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 1200px;
}
.nav-bar .nav-container nav a {
  text-decoration: none;
  color: #b7c3c7;
  font-size: 2.5rem;
  width: 200px;
  text-align: center;
}
footer {
  background: #e9e9e9;
  padding: 50px 0 0 50px;
  width: 100%;
  flex-flow: wrap;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.3em solid #e0dbdb;
}
.footer-content {
  padding: 0 0 50px 0;
  width: 100%;
  height: 15em;
  justify-content: space-evenly;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot {
  width: 25%;
  height: 5em;
}
.icons {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  text-align: center;
  line-height: 2.5em;
  border-radius: 0.35em;
  outline: 0;
  opacity: 0.9;
  text-decoration: none;
  background: #222222;
}
.contact-icons {
  display: flex;
  width: 11em;
  justify-content: flex-start;
  justify-content: space-between;
}
.container {
  width: 100%;
  display: flex;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  justify-content: space-around;
}
.left {
  padding: 50px 0 0 50px;
  width: 65%;
}
.right {
  padding: 50px 50px 0 50px;
  width: 35%;
}
.m-team {
  text-align: center;
}
.team-head {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subhead-img {
  width: 20%;
}
.sub-headers {
  width: 100%;
}
.team {
  width: 100%;
  height: 85em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.one {
  width: 40em;
  height: 40em;
  position: relative;
  float: left;
  margin-right: 10px;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}
.picFace {
  position: absolute;
  width: 40em;
  height: 40em;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.front {
  background-color: #333;
}
.back {
  background-color: #333;
}
.picFace .name-title {
  margin: 0px;
  font-size: 1.5rem;
  padding: 10px 0px 10px 10px;
  border: 0.4rem solid #e0dbdb;
  background-color: #0090c5;
  color: white;
  text-align: center;
  width: 40em;
}
.h2-team {
  padding: 10px;
  color: white;
  line-height: 24px;
}
button {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  background: #0090c5;
  transition: 0.05s;
  opacity: 0.8;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 800;
  outline: 0;
  border: 0;
  cursor: pointer;
  font-size: 1.35em;
  padding: 0.6em 1.5em;
  width: 18em;
  height: 5em;
}
button:hover {
  opacity: 1;
}
a {
  color: #0090c5;
  text-decoration: underline;
}
li {
  height: 2.25em;
  width: 100%;
}
.list {
  font-size: 2.25em;
}
