
.container {
    width: 100%;
    display: flex;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
    justify-content: space-around;
    // padding: 50px 0 0 50px;
    // flex-direction: column;
    // flex-flow: wrap;

}
.left {
    padding: 50px 0 0 50px;
    width: 65%;
}
.right {
    padding: 50px 0 0 50px;
    width: 35%;
}
.m-team {
    text-align: center;
}
.team-head {
    .justifyAlign(center, center)
}

.subhead-img {
    width: 20%
}


.team {
    width: 100%;
    height: 85em;     
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;  
    
}
  
  .one{
    width:40em;
    height:40em;    
    position:relative;  
    float:left;
    margin-right:10px;
    cursor:pointer;
    -webkit-font-smoothing:antialiased;
    
    
  }
  
  .picFace{
    position:absolute;
    width:40em;
    height:40em;
    overflow:hidden;
    border-radius: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .front{
    background-color:#333; 
  }
  
  .back{
    background-color:#333; 
  } 
    
  .picFace .name-title{
    margin:0px;
    font-size: 1.5rem;
    padding:10px 0px 10px 10px;
    border: .4rem solid @gray;
    background-color:#0090c5;
    color:white;
    text-align: center;
    width: 40em;
    
  } 
  
  .h2-team{
    padding:10px;
    color:white;
    line-height:24px;
    
  }
  
button {
 -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #0090c5;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.35em;
    padding: 0.6em 1.5em;
}
a {
    color: #0090c5;
    text-decoration: underline;
}

li {
    height: 1.5em;
}





