.team {
    display: flex;
   
}
.container {
    width: 100%;
}
.team-head {
    .justifyAlign(center, center)
}

.subhead-img {
    width: 20%
}

.middle-section {
    display: flex;
    width: 100%;
    
}

.team {
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    // width: 200%;
  }
   .team > div {
    display: flex; 
    flex-basis: calc(50% - 14px);  
    justify-content: center;
    flex-direction: column;
  }
   
   .grid > div:last-child {
    display: flex; 
    margin-top: 0px;
    flex-basis: calc(100% - 22px);  
    justify-content: center;
    flex-direction: column;
  } 
  
  .team-pic {
      border-radius: 50%;
      height: 40em;
      width: 40em;
      border: 4px solid @gray;
      display: block;
      margin-left: auto;
      margin-right: auto; 
            
  }

  
 .team-pic:hover {
    box-shadow: 0 0 10px 5px rgba(0, 140, 186, 0.5);
 }

 .team {
     width: 200%;
     margin: 
     
 }

 .one {
     padding: 2%;
    
 }
button {
 -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #0090c5;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    font-size: 1.35em;
    padding: 0.6em 1.5em;
}
a {
    color: #0090c5;
    text-decoration: underline;
}

li {
    height: 1.5em;
}

.h2-team {
    text-align: center;
}

.name-title {
    text-align: center;
    border: .4rem solid @gray;     
    border-radius: 2rem;
    margin: auto;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 20rem;
    text-align: center;
    color: white;
    background: #0090c5;
    text-shadow: 0 0 .5rem black;

}





