.nav-bar {
    background: @greyish;
    height: 15em;
    
    .nav-container {
        .justifyAlign(center, center);
        margin: auto;
        padding: 4em;
        
        nav {
            .justifyAlign(center, center);
            width: 50%;
            min-width: 1200px;
            
            a {
                text-decoration: none;
                color: #b7c3c7;
                font-size: 2.5rem;
                width: 200px;
                text-align: center;
            }
        }       
            
    }
}
      
    



