// Media
@Desktop: ~"(max-width: 1000px)";
@tablet: ~"(max-width: 800px)";
@phone: ~"(max-width: 500px)";

@button-bg: @baby-blue;
@footer-bg: @greyish;
@border-cl: @gray;


@greyish: #8f9da3;
@baby-blue: #0090c5;
@gray: #e8e9eb;